@charset "utf-8";
/* CSS Document */

/* allgemeine Formatierungen */
body	    { background-color:#F0F0F0; margin-left:20px; }
p	    		{ margin-top:5px; margin-bottom:15px; }
h1 				{ font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; margin-top:50px; }
h2				{ font-family:Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; padding-top:5px; padding-left:15px }
a:link 		{ color:#000000; font-weight:bold; text-decoration:none; }
a:visited	{ color:#000000; font-weight:bold; text-decoration:none; }
a:hover		{ color:#8B1B31; font-weight:bold; text-decoration:none; }
a:active	{ color:#000000; font-weight:bold; text-decoration:none; }
a:focus		{ color:#000000; font-weight:bold; text-decoration:none; }

/* Positionierung Navigation */
#bezeichnung    { position:absolute; top:5px; left:10px; z-index:1; }
#start 			{ position:absolute; top:39px; left:20px; z-index:1; }
#dropdown 		{ position:absolute; top:39px; left:10px; z-index:1; }
#blaettern1 	{ position:absolute; top:42px; left:365px; width:32px; height:20px; z-index:1; }
#blaettern2 	{ position:absolute; top:42px; left:395px; width:32px; height:20px; z-index:1; }
#blaettern3 	{ position:absolute; top:42px; left:433px; width:32px; height:20px; z-index:1; }
#blaettern4 	{ position:absolute; top:42px; left:460px; width:32px; height:20px; z-index:1; }
#lbl_blatt 		{ position:absolute; top:41px; left:507px; z-index:1; }
#blatt 			{ position:absolute; top:39px; left:539px; z-index:1; }
#blattInput     {width:32pt;}
#submitBlatt 	{ position:absolute; top:40px; left:594px;	z-index:1; }
#lagensymbol 	{ position:absolute; top:20px; left:640px; z-index:1; }
#startseite 	{ position:absolute; top:28px; left:827px; z-index:1; padding-left: 2px; padding-right: 2px; border: 1px solid black;}
#handschrift 	{ position:absolute; top:47px; left:827px; z-index:1; }

/* 2. Zeile Navigation */
#versAnzeige 	{ position:absolute; top:70px; left:10px; width:auto; height:20px; z-index:1; }
#schreibAnzeige { position:absolute; top:70px; left:175px; width:auto; height:20px; z-index:1; }
#verweise 		{ position:absolute; top:70px; left:365px; z-index:1; }
#blattAnzeige 	{ position:absolute; top:70px; left:507px; width:auto; height:20px; z-index:1; }
#lagenAnzeige 	{ position:absolute; top:70px; left:640px; width:auto; height:20px; z-index:1; }
#g50 			{ position:absolute; top:70px; left:827px; width:auto; height:20px; z-index:1; }
#g100 			{ position:absolute; top:70px; left:880px; width:auto; height:20px; z-index:1; }
#g150 			{ position:absolute; top:70px; left:933px; width:auto; height:20px; z-index:1; }
#zoomminus 			    { position:absolute; top:70px; left:983px; z-index:1; }
#zoomminusHell 			{ position:absolute; top:70px; left:983px; z-index:1; }
#zoomplus 			    { position:absolute; top:70px; left:1013px; z-index:1; }
#zoomplusHell 			{ position:absolute; top:70px; left:1013px; z-index:1; }
#miniaturansicht 		{ position:absolute; top:70px; left:1043px; visibility:hidden; z-index:5; }
#miniaturansicht50 		{ position:absolute; top:70px; left:1043px; visibility:hidden; z-index:5; }
#miniaturansichtHell 	{ position:absolute; top:70px; left:1043px; z-index:1; }
#bildbeschreibung 		{ position:absolute; top:70px; left:1073px; visibility:hidden; z-index:5; }
#bildbeschreibung50 	{ position:absolute; top:70px; left:1073px; visibility:hidden; z-index:5; }
#bildbeschreibungHell 	{ position:absolute; top:70px; left:1073px; z-index:1; }
#navigation 	{ height: 78px; }
#myContainer	{ margin-left: -10px; }

.tooltip {
    position: absolute;
    z-index: 9999; /* Stellen Sie sicher, dass der Tooltip über anderen Elementen liegt */
    background-color: #EEE4C6;
    color: 000000;
    padding: 3px;
    font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
    border: black solid 1px;
    pointer-events: none; /* Dadurch wird sichergestellt, dass der Tooltip keine Mausereignisse abfängt */
}


#flexcontainer {
    position:absolute;
    top:100px; 
    left:10px;
    font-size: 0;
    white-space: nowrap;
}

#containerv, #containerr {
    overflow: hidden;
    margin: 0; 
    padding: 0; 
    display: inline-block; 
    vertical-align: top; 
}

#containerv img, #containerr img {
    max-width: 100%; 
    height: auto; 
}


#container 		{ position:absolute; top:100px; left:10px; width:auto; height:auto; z-index:1; }
/*
#containerv 	{ position:absolute; top:100px; left:10px; width:auto; height:auto; z-index:1; }
#containerr 	{ position:absolute; top:100px; left:460px; width:auto; height:auto; z-index:1; }
*/

/* Formatierung Navigationstext */
.navText	    { font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-decoration: none; margin-top:0px; margin-bottom:0px; }
.navTextLink	{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-decoration: none; margin-top:0px; margin-bottom:0px; }
.red					{color:#8B1B31}

.dynamisch		{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
/*.titel				{ font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight: bold; color:#9E2922; }*/
.titel				{ font-family:Arial, Helvetica, sans-serif; font-size:12pt; color:#8B1B31; }
.fliesstext		{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; margin-bottom:10px; margin-right:20px;  padding-left:15px}
