@charset "utf-8";
/* CSS Document */

/* allgemeine Formatierungen */
body	    { background-color:#F0F0F0; margin-left:20px; }
p	    		{ margin-top:5px; margin-bottom:15px; }
h1 				{ font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; margin-top:50px; }
h2				{ font-family:Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; padding-top:5px; padding-left:15px }
a:link 		{ color:#000000; font-weight:bold; text-decoration:none; }
a:visited	{ color:#000000; font-weight:bold; text-decoration:none; }
a:hover		{ color:#8B1B31; font-weight:bold; text-decoration:none; }
a:active	{ color:#000000; font-weight:bold; text-decoration:none; }
a:focus		{ color:#000000; font-weight:bold; text-decoration:none; }

/* Positionierung Navigation */
#start 				{ position:absolute; top:24px; left:20px; z-index:1; }
#dropdown 		{ position:absolute; top:24px; left:10px; z-index:1; }
#blaettern1 	{ position:absolute; top:27px; left:345px; width:32px; height:20px; z-index:1; }
#blaettern2 	{ position:absolute; top:27px; left:375px; width:32px; height:20px; z-index:1; }
#blaettern3 	{ position:absolute; top:27px; left:413px; width:32px; height:20px; z-index:1; }
#blaettern4 	{ position:absolute; top:27px; left:440px; width:32px; height:20px; z-index:1; }
#lbl_blatt 		{ position:absolute; top:26px; left:497px; z-index:1; }
#blatt 			{ position:absolute; top:24px; left:529px; z-index:1; }
#submitBlatt 	{ position:absolute; top:25px; left:584px;	z-index:1; }
#lagensymbol 	{ position:absolute; top:5px; left:630px; z-index:1; }
#startseite 	{ position:absolute; top:25px; left:797px; z-index:1; }


/* 2. Zeile Navigation */
#versAnzeige 	{ position:absolute; top:55px; left:10px; width:auto; height:20px; z-index:1; }
#schreibAnzeige { position:absolute; top:55px; left:175px; width:auto; height:20px; z-index:1; }
#verweise 		{ position:absolute; top:55px; left:345px; z-index:1; }
#blattAnzeige 	{ position:absolute; top:55px; left:497px; width:auto; height:20px; z-index:1; }
#lagenAnzeige 	{ position:absolute; top:55px; left:630px; width:auto; height:20px; z-index:1; }
#g50 			{ position:absolute; top:55px; left:797px; width:auto; height:20px; z-index:1; }
#g100 			{ position:absolute; top:55px; left:850px; width:auto; height:20px; z-index:1; }
#g150 			{ position:absolute; top:55px; left:903px; width:auto; height:20px; z-index:1; }
#miniaturansicht 		{ position:absolute; top:55px; left:973px; visibility:hidden; z-index:5; }
#miniaturansichtHell 	{ position:absolute; top:55px; left:973px; z-index:1; }
#bildbeschreibung 		{ position:absolute; top:55px; left:1003px; visibility:hidden; z-index:5; }
#bildbeschreibungHell 	{ position:absolute; top:55px; left:1003px; z-index:1; }
#navigation 	{ height: 78px; }
#myContainer	{ margin-left: -10px; }
#container 		{ margin-left: -10px; }
#containerv 	{ position:absolute; top:85px; left:10px; width:auto; height:auto; z-index:1; }
#containerr 	{ position:absolute; top:85px; left:330px; width:auto; height:auto; z-index:1; }

/* Formatierung Navigationstext */
.navText	    { font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-decoration: none; margin-top:0px; margin-bottom:0px; }
.navTextLink	{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-decoration: none; margin-top:0px; margin-bottom:0px; }
.red					{color:#8B1B31}

.dynamisch		{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
/*.titel				{ font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight: bold; color:#9E2922; }*/
.titel				{ font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight: bold; color:#8B1B31; }
.fliesstext		{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; margin-bottom:10px; margin-right:20px;  padding-left:15px}
